
/*-----------------------------
  Project Fonts
-----------------------------*/

/*-----------------------------
  Project Colors
-----------------------------*/
$PrimaryColor : #0181B0 ;
$SecondaryColor : #D93E40;
$TertiaryColor : #050505;
/*-----------------------------
  Theme Colors
-----------------------------*/
$PrimaryColor-Theme : #fff ;
$SecondaryColor-Theme : #fff ;
/*-----------------------------
  Standard Colors
-----------------------------*/
$WhiteColor: #fff;
$BlackColor: #000;
$BlueColor: #165df5;
$YellowColor: #ffc329;
$AquamarineColor: #17e79b;
$OrangeColor: #f28e1c;
$RedColor: #f93542;
$GrayColor: #6c7a87;
$LightGrayColor: #969ca2;
$DarkGrayColor: #52595f;
$GreenColor: #19a389;
$SeaColor: #4d81f7;
$GoldColor: #ffce53;
$PurpleColor: #6f5fa6;
/*-----------------------------
  Box Shadow
-----------------------------*/
$PrimaryShadow : 0px 4px 10px rgba(37, 47, 63, 0.1) ;
$LightShadow : 0 2px 6px 0 rgba(0, 0, 0, 0.05) ;
$DarkShadow : 0 2px 6px 0 rgba(0, 0, 0, 0.2) ;
/*-----------------------------
  Z-index Values
-----------------------------*/
$VeryTopLayer : 5 ;
$TopLayer : 4 ;
$MiddleLayer : 3 ;
$LowLayer : 2 ;
$VeryLowLayer : 1 ;
$NoZ-IndexLayer : 0 ;